<!--
============================================
; Title: Exercise 9.2
; File Name: list.ejs
; Author: Professor Krasso 
; Date: 28 February 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to finalize MongoDB integrations.
; Resources:
; Blackboard: Code provided by Professor Krasso in WEB340 Exercise 9.2 Outline
;===========================================
-->

<!-- Tabular view of employee records -->

<!DOCTYPE html>
<html lang="en">
  <%- include ("header") %>
  <%- include ("navbar") %>

  <body class="default-theme">

    <div role="main" class="main">
      
      <h1>EMS | Employee Records</h1>
 
      <% if (employees.length) { %>
      <h2>-- Employee Listing --</h2>
      
      <a href="/new">Add New</a>
      <br /> <br />

      <!-- Populates table with current employee records. -->
      <table class="table table-hover" id="employee-listing">
        <thead class="thead-dark">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Functions</th>
          </tr>
        </thead>
    
        <tbody>
        <% employees.forEach(function (entry) { %>
        <tr>
          <td><%= entry.firstName %></td>
          <td><%= entry.lastName %></td>
          <td><a href="/view/<%= entry.firstName %>">VIEW</a></td>
        </tr> 
        <% }) %> 
      </tbody>
      </table>

      <% } else { %>
        No entries! <a href="/new">Add one!</a>
        <% } %>
        
    </div>

    <%- include ("footer") %>
    <%- include ("scripts") %>
    
  </body>
</html>