<!--
============================================
; Title: Assignment 5.4
; File Name: new.ejs
; Author: Professor Krasso 
; Date: 3 February 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build EJS templates.
; Resources:
; Blackboard: Code provided by Professor Krasso in WEB340 Assignment 5.4 Outline
; GitHub: https://github.com/buwebdev/web-340/blob/master/fms/views/new.ejs (Initial code provided by Professor Krasso in web-340/fms/views/new.ejs repository file)
;===========================================
-->

<!-- Data entry page -->

<!DOCTYPE html>
<html lang="en">
  <%- include ("header") %>
  <%- include ("navbar") %>

  <body class="default-theme">

  <div role="main" class="main">
    <h1>EMS | Data Entry Page</h1>

    <div class="card">
    <h2>Welcome to the Data Entry Page!</h2>

      <div class="card-body">

      <form method="post" action="/process">

        <div class="form-group">
        <label for="txtFirstName">First Name:</label>
        <input type="text" class="form-control" id="txtFirstName" name="txtFirstName" placeholder="First Name" required>
      
        <label for="txtLastName">Last Name:</label>
        <input type="text" class="form-control" id="txtLastName" name="txtLastName" placeholder="Last Name" required>
        </div>

        <div class="form-group" id="new-button-container">
        <!-- CSRF token here. -->
        <input name="_csrf" value="<%= csrfToken %>" type="hidden" />
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form>
      </div>

    </div>
  </div>

    <%- include ("footer") %>
    <%- include ("scripts") %>
    
  </body>
</html>