<!--
============================================
; Title: Exercise 9.2
; File Name: view.ejs
; Author: Professor Krasso 
; Date: 28 February 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to finalize MongoDB integrations.
; Resources:
; Blackboard: Code provided by Professor Krasso in WEB340 Exercise 9.2 Outline
; GitHub: https://github.com/buwebdev/web-340/blob/master/fms/views/view.ejs (Code provided by Professor Krasso in web-340/fms/views/view.ejs repository file)
;===========================================
-->

<!-- Read-only page with the selected employee’s details -->

<!DOCTYPE html>
<html lang="en">

  <%- include ("header") %>
  <%- include ("navbar") %>

  <body class="default-theme">

    <div role="main" class="main">
      <br /><br />

      <h2>-- Employee Record --</h2>
      <br />
      <div>
        <div class="form-group">
          <label for="txtFirstName">First Name:</label>
          <input
            type="text"
            class="form-control"
            id="txtFirstName"
            readonly
            value="<%= employee[0].firstName %>"
            name="txtFirstName"
          />

           <label for="txtLastName">Last Name:</label>
          <input
            type="text"
            class="form-control"
            id="txtLastName"
            readonly
            value="<%= employee[0].lastName %>"
            name="txtLastName"
          />
        </div>
      </div>

      <br /><br />

      <a href="/list">Return to Employees</a>
    </div>

    <%- include ("footer") %>
    <%- include ("scripts") %>

  </body>
</html>